footer {
    .container-footer {

        .footer-seguinos {
            img {
                width: 25px;
            }

            a {
                position: relative;
                margin-left: 10px;
            }
        }

        .footer-telefonos {
            img {
                width: 25px;
                height: 25px;
            }

            p {
                color: white;
                width: 100%;
                align-items: center;
                margin: 0;
            }
        }

        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: black;
        padding-top: 1rem;

        a {
            font-size: 1rem;
        }

        p {
            font-size: 1rem;
        }

        h3 {
            font-size: 1.2rem;
            padding-bottom: 1rem;
            color: white;
            width: 100%;
            align-items: center;
            margin: 0;
        }

        #logo-footer {
            font-size: 5rem;
            color: #A3FFA5;
            padding-top: 2rem;
        }

        .footer-logo {
            position: relative;
            top: 1rem;
            height: 30%;
        }

        .footer-home {

            ul {
                margin: 0;
                padding: 0;
            }
        }

        .footer-firma {
            text-align: center;

            img {
                width: 4rem;
                border-radius: 50%;
            }
        }

        .tel-whatsapp,
        .tel-telefono {
            display: flex;
            align-items: center;
            margin-top: 0.5rem;
        }

    }
}


@media(max-width:767px) {
    footer {
        .container-footer {
            display: none;
        }

        padding-top: 2rem;
        background-color: black;
    }

    .container-enlaces {
        display: none;
    }


    footer {
        .footer-container-mobile {

            h2{
                color: #A3FFA5;
                font-family: 'Epilogue', sans-serif;
                font-size: 2.2rem;
                font-weight: 500;
            }


        }
    }
}